@import "../bower_components/bootstrap/less/bootstrap.less";
@import "navbar.less";
@import "mixins.less";
@icon-font-path: "../bower_components/bootstrap/fonts/";

/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */
.bordered {
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.glyphicon {
    margin-right: 3px;
}

#logo-with-text {
    height: 100px;
    margin-top: -36px;
}

.nav li > a {
	font-size: 16px;
}
/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {
    .nav li > a:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 120%;
        margin-left: -10%;
        margin-top: 5px;
        background: white;
        .transition(all .2s ease-in-out);
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}


#cover-photo {
	margin-top: 50px;
	padding: 0px;
	height: 600px;
	overflow: hidden;
}

#cover-photo > img {
	width: 100%;
}

#cover-description {
	margin-top: -200px;
	height: 350px;
	background-color: hsla(0, 0%, 80%, 0.9);
	padding: 50px;
	padding-left: 70px;
	padding-right: 70px;
	// position: relative;
}

#cover-description > a {
	color: hsla(0, 0%, 20%, 1);
}

#read-more {
	position: absolute;
	bottom: 60px;
	right: 70px;
	border-radius: 0px;
	border-width: 2px;
	border-color: hsla(0, 0%, 20%, 1);
	background-color: hsla(0, 0%, 80%, 0);
	font-size: 18px;
	.transition(.2s);
}

#read-more:hover {
	background-color: hsla(0, 0%, 20%, 1);
	color: white;
}

.horizontal-line {
	height: 0px;
	width: 104%;
	margin-left: -2%;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#news {
	margin-top: 30px;
	margin-bottom: 200px;
}
